* {
    box-sizing: border-box;
    margin: 0;
  
  }
  
  body {
    display: inline;
    font-family: Arial;
    background-color: #a4bad3;
    color: white;
  }
  
  #headerCima {
    width: 931px;
    height: 92px;
    background: #0d2a4a;
    padding: 1.6%;
    width: 100%;
  }
  
  #headerBaixo {
    background-color: #43627f;
    display: flex;
    width: 100%;
    height: 18px;
  }
  
  input{
    margin-left: 475px;
    margin-top: 15px;
  }
  
  .input-box input {
    width: 259px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 375px;
    margin-bottom: 25px;
  }
  
  .input-box label {
    color: #000;
    margin-left: 375px;
    margin-top: 50px;
    padding-bottom: 20px;
  }
  
  .input-left label{
    color: #000;
    margin-left: 375px;
    margin-top: 50px;
    padding-bottom: 20px;
  }
  
  
  i#burger {
    color: white;
    cursor: pointer;
    font-size: 50px;
  }
  
  i#burger:hover {
    color: rgb(209, 209, 209);
  }
  
  h4 {
    font-size: 20px;
    color: #000;
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
  }