body {
  display: inline;
  font-family: Arial;
  background-color: #a4bad3;
  color: white;
}

#headerCima {
  width: 931px;
  height: 92px;
  background: #0d2a4a;
  padding: 1.6%;
  width: 100%;
  z-index: 1;
  position:relative;
}

#headerBaixo {
  background-color: #43627f;
  display: flex;
  width: 100%;
  height: 18px;
  filter: drop-shadow(0px 7px 2px rgba(0, 0, 0, 0.25));
  z-index: 0;
}

.letras{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.primeiraFrase{
  font-size: 18px;
  color: rgb(22, 22, 22);
  margin-top: 10px;
  margin-right: 17%;
}

.restoFrase{
  color: inherit;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.prmR{
  margin-right: 25%;
}

.segundR{
  margin-right: 10.7%;
}

.tercR{
  margin-right: 20.6%;
}

.inputs{
  width: 300px;
  box-shadow: inset 1.9px 1.9px 2.5px rgb(51, 51, 51);
  border-radius: 3.4px;
  border: none;
  height: 30px;
}

.inputizinhos{
  margin-top: 40px;
}

.logozada{
  position: absolute;
  margin-right: 100px;
  width: 100%;
  margin-top: -40px;
}

.letrasInputs{
  color: rgb(31, 30, 30);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 5%;
}

.mnselect{
  height: 34px;
  width: 300px;
  box-shadow: inset 1.9px 1.9px 2.5px rgb(51, 51, 51);
  border-radius: 3.4px;
  border: none;
  
}

input[type="date"]::placeholder {
  margin-left: 20px;
  }

.nomecompleto{
  margin-right: 25%;
}

.cpf{
  margin-right: 40%;
}

.email{
  margin-right: 21%;
}

.tpvc{
  margin-right: 27%;
}

.modelvc{
  margin-right: 22.9%;
}

.dtnsc{
  margin-right: 20.8%;
}

.senha{
  margin-right: 38%;
}

.plcvc{
  margin-right: 25%;
}

.tel{
  margin-right: 36%;
}

.fundinho{
  background-color: white;
  height: 600px;
  width: 600px;
  border-radius: 30px;
  margin-left: 31%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

 .fundinho label{
  color: black ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin-left: 2%;
 }

 .fundinho hr{
  border-color: black;
  margin-top: -2px;
  width:96%;
  margin-left: 10px;
  border-width: 3px;
 }

 .input-group {
  font-size: 1.25rem;
  position: relative;
 }

 .input{
  all: unset;
  color: #fefefe;
  padding: 1rem;
  border: 1px solid black;
  transition: 150ms
  cubic-bezier(0.4, 0, 0.2, 1);
 }

 .label{
  position: absolute;
  top: 1rem;
  left: 1rem;
  pointer-events: none;
  transition: 150ms
  cubic-bezier(0.4, 0, 0.2, 1);
 }

 .input focus{
  border: 1px solid;
 }

 .input:is(:focus, :valid) ~ label {
  transform:
  translateY(-120%)
  scale(0.7);
  padding-inline: 0.3rem;
 }