
#headerCima {
  width: 931px;
  height: 92px;
  background: #0d2a4a;
  padding: 1.6%;
  width: 100%;
  z-index: 1;
  position:relative;
}

#headerBaixo {
  background-color: #43627f;
  display: flex;
  width: 100%;
  height: 18px;
  filter: drop-shadow(0px 7px 2px rgba(0, 0, 0, 0.25));
  z-index: 0;
}

.letras{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.logozada{
  position: absolute;
  margin-right: 100px;
  width: 100%;
  margin-top: -40px;
}


.fundinho{
  background-color: white;
  height: 600px;
  width: 780px;
  border-radius: 30px;
  margin-left: 27%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

 .fundinho label{
  color: black ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin-left: 5%;
  margin-top:20px;
 }

 .fundinho hr{
  border-color: black;
  margin-top: -2px;
  width:96%;
  padding-left: 10px;
  border-width: 3px;
 }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }

 body{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  background-color: #A4BAD3;
 }

 .inputBox{
  position: relative;
  width: 250px;
 }

 .inputBox input{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  color:black;
  font-size: 1em;
  transition: 0.5s;
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2), inset -6px -6px 12px rgba(255, 255, 255, 0.8);
 }

 .inputBox span{
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color:#9e9e9e;
  text-transform: uppercase;
  transition: 0.4s;
 }

 .inputBox input:valid ~ span,
 .inputBox input:focus ~ span{
  color:black;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0.20px;
  background: black;
  letter-spacing: 0.1em;
  background-color:#d1d1d1;
  border-radius: 1px;
 }

 .inputBox input:valid, .inputBox input:focus{
  border: 1px solid #0000;
 }

.nomeC{
  margin-left: 70px;
 margin-top:20px
}

.cpf {
  margin-left: 450px;
  margin-top:-48px
}

.eEmail{
 margin-left: 70px;
 margin-top:20px;
}

.dtNasc{
 margin-left: 450px;
  margin-top:-48px
}

.tel{
margin-left: 70px;
 margin-top:20px;
}

.senha{
margin-left: 450px;
  margin-top:-48px
}

.olho{
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 5%;
  color: #696969;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.submit-container input[type="submit"] {
  background-color: rgb(5, 192, 5);
  color: white;
  border-radius: 3px;
  padding: 8px;
  width: 140px;
  border:none;
  margin-right: 135px;
  margin-top: 10px;
  cursor: pointer;
  transition: .2s linear;
}

.submit-container input[type="reset"] {
  background-color: rgb(255, 51, 0);
  color: white;
  border-radius: 3px;
  padding: 8px;
  width: 140px;
  border:none;
  margin-left: 135px;
  cursor: pointer;
  transition: .2s linear;
}

.submit-container input[type="submit"]:hover{
  letter-spacing: 2px;
  opacity: .8;
  background-color: green;
}

.submit-container input[type="reset"]:hover{
  letter-spacing: 2px;
  opacity: .8;
  background-color: rgb(192, 45, 8);
}