.letras{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.logozada{
  position: absolute;
  margin-right: 100px;
  width: 100%;
  margin-top: 0%;
}

.espaaco{
  margin-left: 8%;
}

.fundinho{
  position: fixed;
  background-color: #43627f;
  width: 70%;
  height: 80%;  
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-left: 13%;
  margin-top: 7%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.letrao{
  font-size: 30px;
  margin-top: 2%;
  margin-left: 4%;
  color: #ffffff;
}


.tipos{
  font-size: 17px;
  color: #ffffff;
  margin-top: 2%;
  margin-left: 6%;
}

.tipos1{
  font-size: 17px;
  color: #ffffff;
  margin-top: 1.5%;
  margin-left: 6%;
}

.tipos2{
  font-size: 17px;
  color: #ffffff;
  margin-top: 45px;
  margin-left: 6%;
}

.tipos3{
  font-size: 17px;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 6%;
}

body{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  background: #0d2a4a;
 }

 .grande{
  width: 43%;
  padding: 10px;
  margin-left: 6%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  color: black;
  font-size: 1em;
  transition: 0.5s;
 }

 .pequeno{
  width: 20%;
  padding: 10px;
  margin-left: 6%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  color: black;
  font-size: 1em;
  transition: 0.5s;
 }
 .pequeno1{
  width: 26%;
  padding: 10px;
  margin-left: 6%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  color: black;
  font-size: 1em;
  transition: 0.5s;
  
 }

.ajuste{
  align-items: center;
  margin-left: 24%;
  margin-top: -7%;
}

.outroLado{
  margin-top: -58.7%;
  margin-left: 49%;
}
.pequeno2{
  width: 45%;
  padding: 10px;
  margin-left: 6%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  color: black;
  font-size: 1em;
  transition: 0.5s;
 }
.miniespaco{
  margin-top: 13px;
}

.espaco2{
  margin-top: 140px;
  margin-left: 6%;

}

.limapar{
  background-color: red;
  color: white;
  width: 150px;
  height: 45px;
  border-radius: 10px;
}

.cadastrar{
  background-color: rgb(33, 184, 33);
  color: white;
  width: 150px;
  height: 45px;
  border-radius: 10px;
}

.espaco3{
  margin-top: 120px;
  margin-left: 6%;

}
.espaco5{
  margin-top: 55px;
  margin-left: 6%;
}
 .olho1 {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 69%;
  color: black;
  margin-top: 9px;
}
.olho2 {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 48.4%;
  color: black;
  margin-top: 4px;
}