.padrao0 {
    display: inline;
    font-family: Arial;
    background-color: #0d2a4a;
    color: white;
  }
  .logozada {
    position: fixed;
    margin-right: 100px;
    width: 10px;
    margin-top: 100px;
    left: 43%;
    text-align: center;
  }
  .fundo {
    position: fixed;
    color: white;
    width: 400px;
    height: 430px;
    background-color: white;
    left: 41%;
    top: 25%;
    border-radius: 20px;
  }