.area-login {
  max-width: 50%;
}

.area-cadastro {
  max-width: 50%;
}
#headerCima {
  width: 931px;
  height: 300px;
  background: #0d2a4a;
  padding: 1.6%;
  width: 100%;
  display: block;
}

.logozada {
  margin-top: 50px;
  text-align: center;
}

.logozada img {
  height: 200px;
  margin-top: -30px;
}

.tituloLogin {
  margin-top: 20px;
}

.tituloConta {
  margin-top: 20px;
  margin-left: 25px;
}

.link {
  margin-left: 350px;
}

.linha {
  border-left: solid #000;
  margin-top: 50px;
}

.text-cadastro {
  margin-left: 25px;
}

.linha-center {
  border-left: solid #000;
  height: 30%;
  left: 50%;
  position: absolute;
  margin-top: -280px;
}

.func-icons {
  text-align: center;
  margin-left: 20px;
  margin-top: 10px;
}

.span-img {
  display: block;
}

.input-cadastrar {
  display: block;
  background-color: #0d2a4a;
  color: #ffffff;
  width: 120px;
  margin-top: 30px;
  margin-left: 4px;
  transition: .2s linear;
  padding: 14px;
  border-radius: 3px;
  width: 27%;
}

.input-entrar {
  display: block;
  background-color: #0d2a4a;
  color: #ffffff;
  width: 125px;
  margin-top: 35px;
  transition: .2s linear;
  padding: 14px;
  border-radius: 3px;
  width: 27%;
}

.input-cadastrar:hover{
  letter-spacing: 0.5px;
  opacity: .8;
}

.input-entrar:hover{
  letter-spacing: 0.5px;
  opacity: .8;
}

div span img {
  height: 36px;
}

p a{
  text-decoration: none;
}

.olho{
  font-size: 30px;
  cursor: pointer;
  right: 50px;
  color: #696969;
  position: fixed;
  margin-right: 58%;
  margin-top: -45px;
}

.inputBox{
  position: relative;
  width: 250px;
 }

 .inputBox input{
  width: calc(100% + 200px); 
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  color:black;
  font-size: 1em;
  transition: 0.5s;
  margin-top: 10px;
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2), inset -6px -6px 12px rgba(255, 255, 255, 0.8);
 }

 .inputBox span{
  position: fixed;
  left: 320px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color:#9e9e9e;
  text-transform: uppercase;
  transition: 0.4s;
  margin-top: -48px;
 }

 .inputBox input:valid ~ span,
 .inputBox input:focus ~ span{
  color:black;
  transform: translateX(0) translateY(-7px);
  font-size: 0.75em;
  padding: 0.20px;
  background: black;
  letter-spacing: 0.1em;
  background-color:#d1d1d1;
  border-radius: 1px;
 }

 .inputBox input:valid, .inputBox input:focus{
  border: 1px solid #0000;
 }

 .btn-adm{
  display: block;
  background-color:rgb(211, 140, 10);
  color: #000000;
  margin-top: -53px;
  position: fixed;
  transition: .2s linear;
  display: inline-block;
  padding: 14px;
  border-radius: 3px;
  width: 12%;
  border: none;
  margin-left: 215px;
 }

 .btn-adm:hover{
  letter-spacing: 0.5px;
  opacity: .8;
}
