.area-login {
  max-width: 50%;
}

.area-cadastro {
  max-width: 50%;
}
#headerCima {
  width: 931px;
  height: 300px;
  background: #0d2a4a;
  padding: 1.6%;
  width: 100%;
  display: block;
}

.logozada {
  margin-top: 50px;
  text-align: center;
}

.logozada img {
  height: 200px;
  margin-top: -30px;
}

.tituloLogin {
  margin-top: 20px;
}

.tituloConta {
  margin-top: 20px;
  margin-left: 25px;
}

.link {
  margin-left: 300px;
}

.linha {
  border-left: solid #000;
  margin-top: 50px;
}

.text-cadastro {
  margin-left: 25px;
}

.linha-center {
  border-left: solid #000;
  height: 30%;
  left: 50%;
  position: absolute;
  margin-top: -280px;
}

.func-icons {
  text-align: center;
  margin-left: 20px;
  margin-top: 10px;
  /*margin-left: 165px;
    display: block;*/
}

.span-img {
  display: block;
}

.input-cadastrar {
  display: block;
  background-color: #0d2a4a;
  color: #ffffff;
  width: 120px;
  margin-top: 70px;
  margin-left: -5px;
}

.input-entrar {
  display: block;
  background-color: #0d2a4a;
  color: #ffffff;
  width: 125px;
  margin-top: 25px;
}

input[type="email"],
input[type="password"] {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: flex;
  width: 400px;
}

div span img {
  height: 36px;
}
