* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.padrao0 {
  display: inline;
  font-family: Arial;
  background-color: #a4bad3;
  color: white;
}

#headerCima {
  width: 931px;
  height: 92px;
  background: #0d2a4a;
  padding: 1.6%;
  width: auto;
  z-index: 1;
  position: relative;
}

#headerBaixo {
  background-color: #43627f;
  display: flex;
  height: 18px;
  filter: drop-shadow(0px 7px 2px rgba(0, 0, 0, 0.25));
  z-index: 0;
  margin-left: 217px;
}

.logozada {
  position: absolute;
  margin-right: 100px;
  width: 90%;
  margin-top: -40px;
}

.novoMenu {
  grid-column: 1;
  position: fixed;
  width: 217px;
  height: 100%;
  background: #d9d9d9;
  background-color: #0d2a4a;
  box-shadow: 7px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.linha {
  border-top: solid #ffffff;
}

.menuLateral hr {
  border: solid #ffffff;
  width: 100%;
}

span a {
  text-decoration: none;
  color: #ffffff;
}

.menuLateral ul li {
  text-decoration: none;
}

.menuLateral {
  color: #ffffff;
  list-style-type: none;
  text-align: left;
}

.meioCentral {
  background-color: #a4bad3;
  width: 100%;
}

.menuLateral a {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.inferiorLateral {
  margin-top: 210%;
  margin-left: 35px;
}

.inferiorLateral a {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.inferiorLateral i {
  font-size: 30px;
  padding: 2%;
}

.menuLateral i {
  font-size: 30px;
  padding: 2%;
}

.menuLateral {
  position: relative;
}

.inferiorLateral a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 20px;
}

.meio {
  margin-top: 50px;
  margin-left: 220px;
  padding-left: 20px;
}

.search {
  display: flex;
  padding: 5px;
  width: 450px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.search-input {
  width: 290px;
  height: 40px;
  border-radius: 10px;
}

.primary {
  position: absolute;
  height: 30px;
  border: none;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
  float: left;
  cursor: pointer;
}

.grid-container{
  display: grid;
  width: 700px;
  height: 220px;
  grid-template-columns: auto auto;
  padding: 18px;
  column-gap: 3px;
}

.grid-card{
  display: inline;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  padding: 20px;
  margin: 10px;
  background-color: #0d2a4a;
  border-radius: 15px;
}

.grid-card label {
  display: flex;
  position: absolute;
}

.grid-card h3 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grid-card p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.grid-card a {
  text-decoration: none;
  color: #ffffff;
}

.grid-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  display: inline-block;
  font-size: 30px;
  margin-left: 560px;
}

input[type="checkbox"] + label:before {
  content: url(../../img/Favorite.png);
  top: -110px;
  left: -80px;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  transition: 0.5s ease;
}

input[type="checkbox"]:checked + label:before {
  border: 1px solid transparent;
  background-color: transparent;
}

input[type="checkbox"]:checked + label:after {
  content: url(../../img/Favorite_fill.png);
  font-size: 18px;
  position: absolute;
  top: -95px;
  left: -70px;
  transition: 0.5s ease;
}
/*                       */
