#headerCima {
  width: 931px;
  height: 92px;
  background: #0d2a4a;
  padding: 1.6%;
  width: 100%;
  z-index: 1;
  position: relative;
}

#headerBaixo {
  background-color: #43627f;
  display: flex;
  width: 100%;
  height: 18px;
  filter: drop-shadow(0px 7px 2px rgba(0, 0, 0, 0.25));
  z-index: 0;
}

.logozada {
  position: absolute;
  margin-right: 100px;
  width: 100%;
  margin-top: -40px;
}

.padrao0 {
  display: inline;
  font-family: Arial;
  background-color: #a4bad3;
  color: white;
}

.letra-agendamento {
  margin-top: 80px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.linha-vertical {
  border-left: solid #000;
  height: 55%;
  left: 50%;
  position: absolute;
  margin-top: -375px;
}

.linha {
  color: black;
  border-left: solid #000;
  width: 600px;
}
.letra-Descriocao {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
.input-voltar {
  display: block;
  background-color: #0d2a4a;
  color: #ffffff;
  width: 125px;
  margin-top: 15px;
}
.letra {
  margin-top: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
input[type="Vaga"],
input[type="Data"],
input[type="Hora"] {
  padding: 7px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: flex;
  width: 450px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.fundinho {
  background-color: white;
  height: 400px;
  width: 500px;
  border-radius: 30px;
  margin-left: 55%;
  margin-top: -310px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.letra-pagamento {
  margin-top: 80px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-left: 43%;
}

.fundinho hr {
  border-color: black;
  margin-top: -2px;
  width: 96%;
  padding-left: 10px;
  border-width: 3px;
}

.area-agendamento{
  max-width: 100%;
}

.letra-fundinho {
  margin-top: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding-left: 35px;
  margin-top: 40px;
}

.letra-fundinho1 {
  margin-top: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 45px;
  margin-top: 40px;
}

input[type="radio"]{
  margin-left: 200px;
  size: 50%px;
}
input[type="radio1"]{
  margin-left: -100px;
  size: 60%px;
}

.efetuar-pagamento{
  background-color: #02f03d;
  color: #ffffff;
  font-size: 23px;
  width: 350px;
  height: 45px;
  margin-top: 40px;
  margin-left: 70px;
  border-width: 0px;
  border-radius: 10px;
}