#headerCima {
  width: 931px;
  height: 92px;
  background: #0d2a4a;
  padding: 1.6%;
  width: 100%;
  z-index: 1;
  position: relative;
}

#headerBaixo {
  background-color: #43627f;
  display: flex;
  width: 100%;
  height: 18px;
  filter: drop-shadow(0px 7px 2px rgba(0, 0, 0, 0.25));
  z-index: 0;
}

.logozada {
  position: absolute;
  margin-right: 100px;
  width: 100%;
  margin-top: -40px;
}

.padrao0 {
  display: inline;
  font-family: Arial;
  background-color: #a4bad3;
  color: white;
}

.letra-agendamento {
  margin-top: 80px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.linha-vertical {
 background-color: black;
 height: 600px;
 width: 2px;
 margin-left: 950px;
 margin-top: -370px ;
}

.linha {
  background-color: black;
  width: 600px;
  height: 2px;
  margin-top: 10px;
  margin-left: -10px;
}
.letra-Descriocao {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  margin-top: 10px;
}
.input-voltar {
  display: block;
  background-color: #0d2a4a;
  color: #ffffff;
  width: 125px;
  margin-top: 15px;
}

a{
  text-decoration: none;
}

.letra {
  margin-top: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
input[type="Vaga"],
input[id="data"],
input[id="Hora"] {
  padding: 7px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: flex;
  width: 500px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

input[id="Hora"]{
  width: 15% !important;
  margin-left: 3%;
}

input[id="HoraAte"]{
  width: 10% !important;
  margin-left: 16%;
  margin-top: -2.4%;
  position: fixed;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 3px;
    display: flex;
    border: 1px solid #ddd;
}

.fundinho {
  background-color: white;
  height: 400px;
  width: 500px;
  border-radius: 30px;
  margin-left: 55%;
  margin-top: -530px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.letra-pagamento {
  margin-top: 80px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-left: 43%;
}

.fundinho hr {
  border-color: black;
  margin-top: -2px;
  width: 96%;
  padding-left: 10px;
  border-width: 3px;
}

.area-agendamento{
  max-width: 100%;
}

.letra-fundinho {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding-left: 35px;
  margin-top: 40px;
}

.letra-fundinho1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding-left: 35px;
  margin-top: 16px;
}

.letra-fundinho3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  padding-left: 35px;
  margin-top: 12px;
}

input[type="radio"]{
  margin-left: 170px;
  
}

.efetuar-pagamento{
  background-color: #02f03d;
  color: #ffffff;
  font-size: 23px;
  width: 350px;
  height: 45px;
  margin-top: 40px;
  margin-left: 70px;
  border-width: 0px;
  border-radius: 5px;
  transition: 2s;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: 2px solid rgb(41, 216, 41);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.efetuar-pagamento:hover{
  letter-spacing: 2px;
  opacity: .8;
  background-color: green;
}

form input[type="radio"] {
  margin-right: 5px; /* Ajuste a margem conforme necessário */
  width: 20px; /* Defina a largura dos botões de rádio conforme necessário */
  height: 20px; /* Defina a altura dos botões de rádio conforme necessário */
  vertical-align: middle; /* Alinhe verticalmente os botões de rádio */
  border: 1px solid #000;
  margin-top: -20px;
}

form label.letra-fundinho2 {

  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding-left: 35px;
  margin-top: 40px;
  margin-right: -10px;
  
}
.linha1 {
  background-color: black;
  width: 450px;
  height: 2px;
  margin-top: 4px;
  margin-left: 20px;
  }
  

  .labelNenhum{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left: 35px;
    margin-top: 16px;
    font-weight: bold;
    margin-left: 3%;
    align-items: center;
    text-align: center;
  }

  .btCadCard {
    background-color: orange;
    color: #fff;
    font-size: 23px;
    width: 350px;
    height: 45px;
    margin-top: 43%;
    margin-left: 70px;
    border-width: 0px;
    border-radius: 5px;
    transition: 2s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.btCadCard:hover {
    background-color:rgb(168, 112, 9);
}

.deLabel{
  margin-top: 0.5%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  position: fixed;
  margin-right: 5%;
  display: flex;
}

.ateLabel{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  position: fixed;
  margin-left: 14%;
  margin-top: -2%;
}

.precoFinal{
  margin-top: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;  
}